* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    background: #f0f0f0;
    padding-bottom: 50px;
}

.main {
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 960px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #cecece;
    border-top: none;
    border-radius: 2px;
}

.main-header {
    padding: 10px 0 0 0;
}

.main-menu {
    padding: 10px 0 0 0;
}

.article-abstract {}

.article-abstract em {
    display: block;
    font-size: .5em;
}

.article-abstract p {
    text-indent: 20px;
}

.main-footer {
    padding: 10px;
}